nav {
    font-size: 1.3em;
    font-weight: bold;
    color: #1860A1;
    padding: 10px;
}

nav a {
    text-decoration: underline;
}

button, .add-player-btw {
    background-color: white;
    box-shadow: 2px 2px 2px black;
    border: thick solid black;
}